@using Staj.Models
@model OrderDetailsModel
@{
    ViewBag.Title = "Details";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>SİPARİŞ DETAYLARI</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Sipariş Numarası</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">Toplam Ücret</dt>
                <dd class="col-sm-9">@Model.Total TL</dd>

                <dt class="col-sm-3">Sipariş Tarihi</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>

                <dt class="col-sm-3">Sipariş Durumu</dt>
                <dd class="col-sm-9">@Model.OrderStatus</dd>


                <dt class="col-sm-3">Adres</dt>
                <dd class="col-sm-9">
                    @Model.AddressTitle
                    <hr />
                    @Model.Address
                    <br />
                    @Model.City /  @Model.District - @Model.Neighborhood
                    <br />
                    @Model.PostCode
                </dd>
                <dt class="col-sm-3">Ürünler</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Ürün</th>
                                <th>Adet</th>
                                <th>Fiyat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLines)
                            {
                            <tr>
                                <td>
                                    <img src="~/theme/img/@item.Image" width="100" height="100" />
                                </td>
                                <td>@item.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price TL</td>
                                <td>
                                    <a href="/Home/Details/@item.ProductId" class="btn btn-primary" target="_blank">Ürün Sayfası</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
    </div>
</div>

